@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.google.com/specimen/Poppins');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

.wrap_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap_logo>img {
    width: 200px;
    margin: 10px;
}

.btn_primary {
    text-decoration: none;
    color: #ff52bf;
    border: 1px solid #ff52bf;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: #ff52bf 0px 0px 2px;
}

.title_main {
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;

}

.text_parrafo {
    text-align: center;
    margin-bottom: 20px;
}

.btn_free {
    background-color: #ff52bf;
    padding: 8px 30px;
    color: white;
    border-radius: 20px;
    box-shadow: #ff52bf 0px 0px 2px;
    display: inline-block;
    margin-bottom: 40px;
}

.img_main {
    width: 100%;
}

.wrap_header_content {
    padding: 20px 40px;
    text-align: center;
}

.container_gadgets {
    padding: 20px 40px;
}

.gadget {
    margin-bottom: 100px;
}

.gadget_title {
    font-size: 90px;
    text-align: center;
}

.gadget_img {
    margin-left: 110px;
}

.gadget_descripcion {
    text-align: center;
}

.services {
    padding: 20px;
    text-align: center;
}

.service_img {
    width: 75%;
    margin-bottom: 20px;
}

.service_title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service_descripcion {
    padding: 40px;
}

.comunity {
    text-align: center;
}

.comunity_title {
    margin-bottom: 40px;
    font-weight: 700px;
    font-size: 42px;
    text-align: center;
}

.pattern-top-desktop {
    display: block;
    width: 100%;
}

.footer {
    padding: 80px;
    background: hsl(192, 100%, 9%);
    color: white;
    font-size: 20.5px;
    display: flex;
    justify-content: space-between;
}

.footer_column,
.footer_column_2 section {
    max-width: 420px;
    margin: 0 16px;
}

#footer_logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    margin-bottom: 24px;
}

.telefono,
.email {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px auto;
}

.media-icons {
    display: flex;
    gap: 24px;
    margin: 48px 0 16px 0;
}

.media-icons i {
    font-size: 40px;
}

.footer_column_2 h3 {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.footer_column_2 form {
    display: grid;
    grid-template-columns: minmax(auto, 400px) auto;
    gap: 32px;
    margin-top: 25px;
    margin-left: 16px;
}

.infield input {
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 16px;
}

.footer_column_2 form button {
    color: white;
    background: hsl(322, 100%, 66%);
    height: 48px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px 45px;
    font-size: 18px;
    cursor: pointer;
}