@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.google.com/specimen/Poppins');
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

.wrap_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap_logo > img {
    width: 200px;
    margin: 10px;
}

.btn_primary {
    text-decoration: none;
    color: #ff52bf;
    border: 1px solid #ff52bf;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: #ff52bf 0px 0px 2px;
}

.title_main {
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;

}

.text_parrafo {
    text-align: center;
    margin-bottom: 20px;
}

.btn_free {
    background-color: #ff52bf;
    padding: 8px 30px;
    color: white;
    border-radius: 20px;
    box-shadow: #ff52bf 0px 0px 2px;
    display: inline-block;
    margin-bottom: 40px;
}

.img_main {
    width: 100%;
}

.wrap_header_content {
    padding: 20px 40px;
    text-align: center;
}

.container_gadgets {
    padding: 20px 40px;
}

.gadget {
    margin-bottom: 100px;
}

.gadget_title {
    font-size: 90px;
    text-align: center;
}

.gadget_img {
    margin-left: 110px;
}

.gadget_descripcion {
    text-align: center;
}

.services {
    padding: 20px;
    text-align: center;
}

.service_img {
    width: 75%;
    margin-bottom: 20px;
}

.service_title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service_descripcion {
    padding: 40px;
}

.comunity {
    text-align: center;
}

.comunity_title {
    margin-bottom: 40px;
    font-weight: 700px;
    font-size: 42px;
    text-align: center;
}

.footer{
    background-image: url(/images/bg-footer-top-mobile.svg);
    background-color: #00252e;
    background-size: contain;
    background-position-y:100% ;
    background-repeat: no-repeat;
    color: white;
}


























