  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  header {
      max-width: 1100px;
      margin: 112px auto;
  }

  .header h1 {
      font-size: 45.6px;
  }

  body {
      color: hsl(192, 100%, 9%);
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
  }

  h1,
  h2,
  h3 {
      font-family: 'Poppins', sans-serif;
  }

  a {
      text-decoration: none;
  }

  .wrap_logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 48px 80px;
  }

  .btn_primary {
      text-decoration: none;
      color: #ff52bf;
      border: 1px solid #ff52bf;
      padding: 4px 24px;
      border-radius: 20px;
      box-shadow: #ff52bf 0px 0px 2px;
  }

  .title_main {
      font-weight: 800;
      text-align: center;
      margin-bottom: 24px;
      font-size: 45px;

  }

  .text_parrafo {
      text-align: center;
      max-width: 570px;
      margin-bottom: 20px;
      margin: 0 auto 32px auto;
  }

  .btn_free {
      background-color: #ff52bf;
      padding: 22.4px 96px;
      color: white;
      border: none;
      border-radius: 32px;
      box-shadow: #ff52bf 0px 0px 2px;
      display: inline-block;
      font-weight: 600;
      font-size: 17.6px;
  }

  .img_main {
      width: 100%;
      height: 100%;
      margin: 80px auto;
  }

  .wrap_header_content {
      text-align: center;
  }

  .container_gadgets {
      margin: 0 80px;
      display: flex;
      justify-content: space-between;
  }

  .gadget_title {
      font-size: 73.6px;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 8px;
  }

  .gadget p {
      opacity: 0.6;
  }

  .gadget_descripcion {
      text-align: center;
  }

  .service {
      margin: 80px auto;
  }

  .service_text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6rem;
      align-items: center;
      padding: 5rem;
  }

  .first img,
  .third img {
      order: 2;
  }

  .first section,
  .third section {
      order: 1;
  }

  .service_img {
      max-width: 100%;
      max-height: 100%;
  }

  .service_text h3 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      align-items: center;
  }

  .service_descripcion {
      padding: 40px;
  }

  .comunity {
      text-align: center;
  }

  .comunity_title {
      margin-bottom: 40px;
      font-weight: 700px;
      font-size: 42px;
      text-align: center;
  }

  .pattern-top-desktop {
      display: block;
      width: 100%;
  }

  .footer {
      padding: 80px;
      background: hsl(192, 100%, 9%);
      color: white;
      font-size: 20.5px;
      display: flex;
      justify-content: space-between;
  }

  .footer_column,
  .footer_column_2 section {
      max-width: 420px;
      margin: 0 16px;
  }

  #footer_logo {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
      margin-bottom: 24px;
  }

  .telefono,
  .email {
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 16px auto;
  }

  .media-icons {
      display: flex;
      gap: 24px;
      margin: 48px 0 16px 0;
  }

  .media-icons i {
      font-size: 40px;
  }

  .footer_column_2 h3 {
      font-size: 30px;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      margin-bottom: 24px;
  }

  .footer_column_2 form {
      display: grid;
      grid-template-columns: minmax(auto, 400px) auto;
      gap: 32px;
      margin-top: 25px;
      margin-left: 16px;
  }

  .infield input {
      width: 100%;
      height: 48px;
      outline: none;
      border: none;
      border-radius: 5px;
      padding-left: 16px;
  }

  .footer_column_2 form button {
      color: white;
      background: hsl(322, 100%, 66%);
      height: 48px;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 8px 45px;
      font-size: 18px;
      cursor: pointer;
  }

  .footer_parrafo {
      text-align: justify;
  }

  @media (max-width: 769px) {

      .footer {
          flex-direction: column-reverse;
          gap: 5rem;
          padding: 5rem 3rem;
      }
  }